<launch>
  <arg name="host" default="localhost"/>
  <arg name="central_args" default="-p1381"/>
  
  <machine name="localhost" address="localhost"/>

  <node machine="$(arg host)" pkg="transfer_station" type="ipc_start_central.sh"
    args="$(arg central_args)" name="ipc_central" output="screen"/>
</launch>
